/**
 * @file
 * Minimal styling for an entity pager.
 */

.entity-pager-list {
  margin: 0.5em 0;
  padding: 0;
  text-align: center;
}

.entity-pager-item {
  display: inline-block;
  margin: 0.3em;
}

.entity-pager-item-count {
  display: block;
  text-align: center;
}
