{#
/**
 * @file
 * Default theme implementation for an entity pager.
 *
 * Available variables:
 * - attributes: HTML attributes to apply to the wrapper element.
 * - content_attributes: HTML attributes to apply to the list element.
 * - links: An array of links to render, each containing 'url', 'title',
 *   'attributes':
 *   - prev: Link to previous node.
 *   - all_link: Link to All listing group of records.
 *   - next: Link to next node in the sequence.
 *  - display_count: Flag for whether to display the count text.
 *  - count: The total number of items that can be paged through.
 *  - current: The current item number of the pager.
 *
 * @see template_preprocess_entity_pager()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes.addClass('entity-pager') }}>
  {% block links %}
    <ul{{ content_attributes.addClass('entity-pager-list') }}>
      {% for link in links %}
        <li{{ link.attributes }}>
          {{ link(link.title, link.url) }}
        </li>
      {% endfor %}
    </ul>
  {% endblock %}

  {% if display_count and current %}
    {% block count %}
      {% trans %}
        <p class="entity-pager-item-count">{{ current }} of {{ count }}</p>
      {% endtrans %}
    {% endblock %}
  {% endif %}
</div>
